<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Situps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>243CBCB71EFFC04C0041444F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>243CBCCB1EFFC04C0041444F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>243CBCD61EFFC04C0041444F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
